.cabecalho {
    background-color: rgb(136, 73, 6);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(133, 77, 5);
    padding: 100px;
}

.section2 {
    background-color: rgb(100, 56, 3);
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}
